<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Create verification</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>City</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>{{.Username}}</td>
            <td>{{.Firstname}}</td>
            <td>{{.Lastname}}</td>
            <td>{{.City}}</td>
            <td>{{.Age}}</td>
        </tr>
    </table>
</body>

</html>