{{ define "topnav" }}

<!--Navbar-->
<nav class="cyan">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Zero</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="top_nav" href="/">Home</a></li>
            <li><a class="top_nav" href="/hash">HashCompute</a></li>
            <li><a class="top_nav" href="/block">OneBlock</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-nav">
    <li><a class="top_nav" href="/">Home</a></li>
    <li><a class="top_nav" href="/hash">HashCompute</a></li>
    <li><a class="top_nav" href="/block">OneBlock</a></li>
</ul>

{{ end }}