<html>

<head>
    <title>GoBlockDemo</title>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <!--Import custome.css-->
    <link rel="stylesheet" href="css/custom.css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<body>
    <header>
        {{ template "topnav" }}
    </header>
    <main>
        <div class="container">
            {{yield}}
        </div>
    </main>


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript">
        $('.top_nav').each(function() {
            var path = $(this).attr("href");
            if (path == '{{.active}}') {
                $(this).parent().addClass("active");
            }
        });
        $(document).ready(function() {
            $('select').formSelect();
            $('.sidenav').sidenav();
        });
        // document.addEventListener('DOMContentLoaded', function() {
        //     var elems = document.querySelectorAll('select');
        //     var instances = M.FormSelect.init(elems);
        // });
    </script>
</body>

</html>