<h1>Hash</h1>
<h6>计算数据的Hash值</h6>

<!-- Material form group -->
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="hash_hashData" class="materialize-textarea" rows="5"></textarea>
                <label for="hash_hashData">Data</label>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{.hash}}" id="hash_hashvalue" type="text" class="validate">
                <label for="hash_hashvalue">SHA256 of The Data</label>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).on("input propertychange", "#hash_hashData", function() {
        //$("#hash_hashvalue").val($(this).val())
        var postData = $(this).val();
        $.ajax({
            url: "/api/SHA256",
            data: {
                postData
            },
            method: "POST",
            dataType: "JSON",
            success: data => {
                var result = data;
                $("#hash_hashvalue").val(result);
            }
        })
    });
</script>