<!-- Material form group -->
<form>
    <!--Basic textarea-->
    <div class="md-form">
        <textarea type="text" id="hash_hashData" class="form-control md-textarea" rows="3">{{.title}}</textarea>
        <label for="textareaBasic">Data</label>
    </div>

    <label for="materialFormContactNameEx">Hash of The Data</label>
    <input type="text" id="hash_hashvalue" class="form-control" disabled value="{{.active}}">
</form>
<!-- Material form group -->

<script>
    $(document).on("input propertychange", "#hash_hashData", function() {
        $("#hash_hashvalue").val($(this).val())
    });
</script>