<h1>{{12.345|printf "%.2f"}}</h1>

<div class="row">
    {{range $b:=.message}}
    <div class="card bg-light col" style="width: 18rem;">
        <div class="card-header">
            Data: {{$b.Data}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Timestamp: {{ $b.Timestamp }}</li>
            <li class="list-group-item">PrevHash: {{ $b.PrevHash | printf "%x" }}</li>
            <li class="list-group-item">Hash: {{ $b.Hash | printf "%x" }}</li>
        </ul>
    </div>
    {{end}}
</div>